  body {
    color: rgb(19, 15, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .heading-container {
    text-align: center;
    background: linear-gradient(45deg, #d3042c, #41eada);
    height: 60px;
    margin: 0;
    border: 5px solid #166cb6;
  }
  #maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 6px;
    padding-top: 45px;
    padding-right: 10px;
    padding-bottom: 45px;
    gap: 10px;
    background: linear-gradient(70deg, #04d3c9, #9ea048);
  }
  
  .container {
    display: inline-block;
    padding-top: 10px;
    width: 270px;
    padding-left: 50px;
    padding-right: 22px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
    border: 1px solid #212bb8;
    background: linear-gradient(
      45deg, #8a9292f2, rgb(177, 93, 163));
  }
  p {
    text-align: left;
    align-content: stretch;
    padding-top: 5px;
    inline-size: 150px;
    overflow-wrap: break-word;
  }
  
  .Name_bewery {
    text-decoration: underline;
    font-style: initial;
  }
  
  @media screen and (max-width:750px) {
  
      h1#main {
          padding: 8px;
          border: 5px solid #166cb6;
          margin: 0;
          border: 5px solid #166cb6;
      }
  
      #maincontainer {
          background: linear-gradient(
      45deg, #044fd3, #63ea41);
      }
  }
  
  @media screen and (max-width:1024px) {
  
      h1#main {
          padding: 8px;
          border: 5px solid #166cb6;
          margin: 0;
          border: 5px solid #166cb6;
      }
  
      #maincontainer {
          background:linear-gradient(
              45deg, #044fd3, #eaacac);
      }
  }